@import "./sass/_vars";
@import "./sass/fonts";
@import "./sass/normalithe";
@import "./sass/conponens.scss/header";
@import "./sass/conponens.scss/_stan";
@import "./sass/conponens.scss/_purchase";
@import "./sass/conponens.scss/cart";
@import "./sass/conponens.scss/kross";
@import "./sass/conponens.scss/_our";
@import "./sass/conponens.scss/sort";
@import "./sass/MainMenu.scss/menu"; // MENU
.App {
  background-color: $main-color;
  padding-top: 85px;
  &__back {
    width: 1020px;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 43px;
    border-radius: 20px;
    padding-right: 63px;
    padding-left: 45px;
    padding-bottom: 44px;
  }
  &__menu-sne {
    display: flex;
    margin-left: -2em;
    justify-content: center;
  }
  &__purchase {
    background-color: $white;
    width: 1020px;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 43px;
    border-radius: 20px;
    padding-right: 63px;
    padding-left: 45px;
    padding-bottom: 44px;
  }
  // &__kross {
  //   display: grid;
  //   grid-template-columns: 100px 100px 100px 100px;
  //   padding-right: 10rem;
  //   grid-gap: 10em;
  //   grid-template-rows: 150px 150px;
  //   justify-content: space-around;
  // }
  &__sh {
    display: flex;
  }
}
